<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Buzca</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <style>
        body {
            font-family: 'Helvetica';
        }
        .title {
            text-align: center;
            margin: 5px;
        }
        .title span {
            color: #1ab71a;
        }
    </style>
</head>

<body>
    <div>
        <div class="container" id="app">
            <div>
                <h1 class="title">Bu<span>z</span>ca</h1>
            </div>
            <center style="margin-top: 24px; margin-bottom: 24px;">
                <button class="button" @click="user = 'client'" v-bind:class="{ 'is-success': user == 'client' }">Solicitantes</button>
                <button class="button" @click="user = 'partner'" v-bind:class="{ 'is-link': user == 'partner' }">Partner</button>
            </center>
            <div class="box" v-if="user == 'client'">
                <h1>Solicitantes</h1>
                <a class="box button is-success is-inverted" href="/login">Iniciar Sesion</a>
                <a class="box button is-success" href="/signup">Registrate</a>
            </div>
            <div class="box" v-if="user == 'partner'">
                <h1>Partner</h1>
                <a class="box button is-link is-inverted" href="/partner/login">Iniciar Sesion</a>
                <a class="box button is-link" href="/partner/signup">Registrate</a>
            </div>
        </div>
        <div class="container" style="position: absolute; bottom: 0; width: 100%;">
            <div class="box">
                <p><b>Créditos</b></p>
                <p>Ventura Eugenio, Luis</p>
                <p>Portocarrero Alfaro, Jheyson</p>
            </div>
        </div>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                user: 'partner'
            }
        });
    </script>
</body>
</html>