<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Buzca</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
</head>

<body>
    <div>
        <div class="container">
            <div>
                <h1 class="title">Buzca</h1>
            </div>
            <div class="box">
                <h1>Solicitantes</h1><a class="box button is-info is-inverted" href="/login">Iniciar Sesion</a><a class="box button is-info" href="/signup">Registrate</a></div>
            <div class="box">
                <h1>Partner</h1><a class="box button is-link is-inverted" href="/partner/login">Iniciar Sesion</a><a class="box button is-link" href="/partner/signup">Registrate</a></div>
        </div>
        <div class="container">
            <div class="box">
                <p><b>Créditos</b></p>
                <p>Ventura Eugenio, Luis</p>
                <p>Portocarrero Alfaro, Jheyson</p>
            </div>
        </div>
    </div>
</body>
</html>