<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Buzca - Signup Partner
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css")
    body
        div
            div.container
                form.box(action="/partner/signup" method="post")
                    h1 Regístrate Partner
                    input.input(type="name" placeholder="Nombres" name="name" required)
                    input.input(type="name" placeholder="Apellidos" name="lastname" required)
                    input.input(type="email" placeholder="Email" name="email" required)
                    span Seleccione su distrito
                    select.input(name="dist" required)
                        option(value="") - Seleccione -
                        option(value="San Isidro") San Isidro
                        option(value="Miraflores") Miraflores
                        option(value="Surco") Surco
                    input.input(type="password" placeholder="Contraseña" name="password" required)
                    a.button.is-info.is-inverted(href="/partner/login") ¿Ya tienes una cuenta?
                    input.box.button.is-link(type="submit" value="Registrarse")
                    a.box.button.is-link.is-inverted(href="/") Volver
                