<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Completa tus datos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <style>
        #mapid {
            height: 680px; 
        }
        .profile {
            display: inline;
        }
        .profile i {
            color: #828b98;
            font-size: 36px;
            margin-left: 10%;
        }
        .popup-profile {
            width: 170px;
            position: relative;
            margin-left: 160px;
            z-index: 99;
        } 
        select.search:required:invalid {
            color: #999;
        }
        select.search option {
            color: #000;
        }
    </style>
</head>
<body> 
    <div>
        <div class="box">
            <h1>MENÚ PRINCIPAL</h1>    
            <div id="nav">
                <form action="">
                    <select name="" v-model="service_selected" id="" class="button search" style="text-align: left; width: 60%;" required>
                        <option value="" placeholder="Buscar" selected hidden>Buscar</option>
                        <option value="Gasfitería">Gasfitería</option>
                        <option value="Educación">Educación</option>
                        <option value="Carpintería">Carpintería</option>
                        <option value="Limpieza">Limpieza</option>
                        <option value="Electricista">Electricista</option>
                    </select>
                    <!-- <input class="button" type="search" placeholder="Buscar"  > -->
                    <a href="#" class="button is-success" @click="filterServices" ><i class="fas fa-search-location"></i></a>
                    <div class="profile" title="Mi perfil" onclick="showPopup()"><i class="fas fa-user-circle"></i></div>
                    <div class="box popup-profile" id="popup-profile" style="display: none">
                        <a href="/profile/{{ auth.user.username }}" class="option"><div class="option">Mi Perfil</div></a>
                        <a href="/messages" class="option"><div class="option">Mensajes</div></a>
                        <a href="/historial" class="option"><div class="option">Historial</div></a>
                        <a href="/logout" class="option is-danger is-outlined" style="color:#d42c2c;"><div class="option">Cerrar sesion</div></a>
                    </div>
                    <div v-if="services.length != 0">
                        <br>
                        <center><h1>Resultados</h1></center>                        
                        <div class="box" v-bind:id="service.username" v-for="service in services">
                            <p>Nombres: {( service.name )} {( service.lastname )}</p>
                            <p>Servicio: {( service.skill )}</p>
                            <p>Valoración: </p>
                        </div>
                    </div>
                </form>            
            </div>    
        </div>
        <div>
            <div id="app"></div>
            <div id="mapid"></div>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var map;
        var latitude = 0;
        var longitude = 0;
        var greenIcon = L.icon({
            iconUrl: 'marker-green-icon-2x.png',
            // shadowUrl: 'leaf-shadow.png',
            iconSize: [25, 41],
            // shadowSize:   [30, 30],
            iconAnchor:   [13, 45],
            // shadowAnchor: [4, 62],
            popupAnchor:  [0, -38],
        });

        var appMap = new Vue({
            el: '#app',
            delimiters: ['{(', ')}'],
            data: {
                position: [0, 0]
            },
            created: function() {
                this.map()
            },
            methods: {
                map: function() {
                    locate(this)
                },
                getServices: function(service) {
                    alert(service)
                }
            }
        })
        
        function locate(vue) {
            try {
                if(navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        latitude = position.coords.latitude;
                        longitude = position.coords.longitude;
                        vue.position = [position.coords.latitude, position.coords.longitude]
                        drawMap(position.coords.latitude, position.coords.longitude)
                    })
                }else {
                    console.log('La geolocolazacion no es soportada')
                    map = L.map('mapid').setView([-12.092233, -77.033312], 15);                
                }                
            } catch (error) {
                map = L.map('mapid').setView([-12.092233, -77.033312], 15);                
            }
        }     
        function drawMap(latitude, longitude) {
            const position = [latitude, longitude]
            map = L.map('mapid').setView(position, 16);

            /** More tiles: https://wiki.openstreetmap.org/wiki/Tiles , es necfesario quitarlñe los simblos de $ al pegar la url*/
            const tileURL = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'

            L.tileLayer(tileURL).addTo(map);
            L.marker(position, {icon: greenIcon}).addTo(map)
                .bindPopup('Estás Aquí')
                .openPopup();

            saveLastLocation(position);
        }   
        function saveLastLocation(position) {
            axios.post('/save/position', {
                position
            }).then(result => {
                console.log(result);
            }).catch(error => {
                console.log(error);
            });
        }
        function showPopup() {
            var popup = document.getElementById('popup-profile');
            if(popup.style.display == 'none')
                popup.style.display = 'block'
            else if(popup.style.display == 'block')
                popup.style.display = 'none'
        }


        var nav = new Vue({
            el: '#nav',
            delimiters: ['{(', ')}'],
            data: {
                services: {},
                service_selected: ""
            },
            methods: {
                filterServices: function() {
                    if(this.service_selected == "") return                        
                    
                    let self = this
                    axios.post('/filter/services', {
                        latitude: latitude, 
                        longitude: longitude, 
                        skill: self.service_selected
                    }).then(result => {
                        console.log(':)');
                        console.log(result);
                        self.services = result.data.services

                        // map.removeLayer(marker)
                        
                        self.services.forEach(partner => {
                            L.marker( [partner.lastPosition[0].$numberDouble, partner.lastPosition[1].$numberDouble] ).addTo(map)
                            .bindPopup( '<a href="#'+partner.username+'" >'+partner.name+' '+partner.lastname+'</a><br>'+partner.skill )
                            .openPopup();
                            
                        });

                    }).catch(error => {
                        console.log(':c');
                        console.log(error);
                    });
                }
            }
        })
    </script>
</body>
</html>