<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Buzca
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css")
    body
        div
            div.container
                div
                    h1.title Buzca
                div.box
                    h1 Solicitantes
                    a.box.button.is-info.is-inverted(href="/login") Iniciar Sesion
                    a.box.button.is-info(href="/signup") Registrate
                div.box
                    h1 Partner
                    a.box.button.is-link.is-inverted(href="/partner/login") Iniciar Sesion
                    a.box.button.is-link(href="/partner/signup") Registrate

            div.container
                div.box
                    p: b Créditos
                    p Ventura Eugenio, Luis
                    p Portocarrero Alfaro, Jheyson
