<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Buzca - Login Partner</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
</head>
<body>
    <div>
        <div class="container">
            <form action="/partner/login" method="post" class="box">
                {{ csrfField() }}
                <h1>Login Partner</h1>
                <input class="input" type="email" name="email" placeholder="Email" />
                <input class="input" type="password" name="password" placeholder="Contraseña" />
                @if( msg ) 
                <p style="text-align:center;color:#c12828;" >{{ msg }}</p>
                @endif
                <a class="button is-info is-inverted" href="/partner/signup">¿No tienes cuenta?</a>
                <input class="box button is-link" style="width:100%;" type="submit" value="Ingresar" />
                <a class="box button is-link is-inverted" href="/">Volver</a>
            </form>
        </div>
    </div>
</body>
</html>