<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Completa tus datos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <style>
        #mapid {
            height: 680px; 
        }
        .profile i {
            color: #828b98;
            font-size: 36px;
            margin-left: 10%;
        }
    </style>
</head>
<body> 
    <div>
        <div class="box">
            <h1>MENÚ PRINCIPAL</h1>    
            <div>
                <form action="">
                    <input class="button" type="search" placeholder="Buscar" style="text-align: left;" ><a href="#services" class="button is-link" ><i class="fas fa-list-ul"></i></a>
                    <a href="/partner/F" class="profile" title="Mi perfil"><i class="fas fa-user-circle"></i></a>
                </form>            
            </div>    
        </div>
        <div>
            <div id="app"></div>
            <div id="mapid"></div>
        </div>
        <div id="services">
            <div class="box">
                <div class="box"><span>Gasfitero</span></div>
                <div class="box"><span>Carpintero</span></div>
                <div class="box"><span>Limpieza</span></div>
                <div class="box"><span>Técnico</span></div>
                <div class="box"><span>Electricista</span></div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var appMap = new Vue({
            el: '#app',
            delimiters: ['{(', ')}'],
            data: {
                position: [0, 0],
                latitude: 0,
                longitude: 0,
            },
            created: function() {
                this.map()
            },
            methods: {
                map: function() {
                    geolocation(this)
                }
            }
        })


        function geolocation(vue) {
            if(navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    drawMap(position.coords.latitude, position.coords.longitude)
                })
            }else {
                console.log('La geolocolazacion no es soportada')
            }
        }     
        function drawMap(latitude, longitude) {
            const coordinates = [latitude, longitude]
            const map = L.map('mapid').setView(coordinates, 19);

            /** More tiles: https://wiki.openstreetmap.org/wiki/Tiles , es necfesario quitarlñe los simblos de $ al pegar la url*/
            const tileURL = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'

            L.tileLayer(tileURL).addTo(map);
            L.marker(coordinates).addTo(map)
                .bindPopup('Estás Aquí')
                .openPopup();
        }   
    </script>
</body>
</html>