<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Mis Servicios - Partner</title>
    <style>
        .good {
            color: #FFC107;
        }
        .bad {
            color: #9E9E9E;
        }

        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 100px;
            height: 34px;
        }
        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        input:checked + .slider {
            background-color: #2196F3;
        }
        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }
        input:checked + .slider:before {
            -webkit-transform: translateX(67px);
            -ms-transform: translateX(67px);
            transform: translateX(67px);
        }
        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }
        .slider.round:before {
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <div id="services">
        <div style="padding: 20px;">
            <a href="/partner"><i class="fas fa-long-arrow-alt-left"></i></a>            
        </div>
        <div class="box">
            <form action="">

                <div class="box">
                    <h1 class="title">Mis Servicios</h1>
                    <p>Nombre de Usuario</p>
                    <span><b>{{ user.username }}</b></span><br>
                </div>
                <!-- Rounded switch -->
                <center>
                    <div>
                        <label class="switch">
                            <input type="checkbox" id="checkbox" v-bind:checked="checked" @click="changeStatus">
                            <span class="slider round"></span>
                        </label>  
                    </div>
                </center>   
                <br>
                <div class="box">
                    <p>Valoración</p>
                    <i class="fas fa-star good" v-for="( n ) in ( calification )"></i>
                    <i class="fas fa-star bad" v-for="( n ) in ( 5 - calification )"></i>
                </div>
                <div class="box">
                    <p>Habilidad</p>
                    <input type="text" class="input" value="{{ user.skill }}" name="skill" readonly>
                    <p>Precios a establecer</p>
                    <input type="text" class="input" placeholder="S/.0.00" name="price" v-model="price">  
                    <p>Describe lo que haces</p>
                    <textarea class="input" style="min-height: 100px; max-height: 150px;" placeholder="Soy experto en..." name="description" v-model="description"></textarea>
                    <br><br>
                    <center>
                        <input type="button" class="button is-info" value="Guardar Cambios" @click="saveDescription">
                    </center>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
     <!-- development version, includes helpful console warnings -->
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
     <script>
        var services = new Vue({
            el: '#services',
            delimiters: ['{(', ')}'],
            data: {
                username: "{{ user.username }}",
                checked: "",
                status: "{{ user.stateService }}",
                price: "{{ user.priceService }}",
                description: "{{ user.description }}",
                calification: 0
            },
            created: function() {
                this.getStatus()
                this.getCalification()
            },
            methods: {
                getStatus: function() {
                    if(this.status == "on") {
                        this.checked = "checked"
                    }else if(this.status == "off") {
                        this.checked = ""
                    }
                },
                getCalification: function() {
                    let self = this

                    axios.post('/service/getCalification', {
                        username: this.username
                    }).then( result => {
                        self.calification = parseInt(result.data.valoration.$numberDouble)
                        console.log(result);
                    }).catch( error => {
                        console.log(error);
                    })
                },
                changeStatus: function() {
                    var enable = document.getElementById("checkbox");
                    if(enable.checked == true) {
                        this.status = "on"
                        this.checked = "checked"
                    }else {
                        this.status = "off"
                        this.checked = ""
                    }
                    
                    axios.post('/partner/service/setStatus', {
                        status: this.status
                    }).then( result => {
                        console.log(result);
                    }).catch( error => {
                        console.log(error);
                    })
                },
                saveDescription: function() {   
                    if(this.price != "") {
                        axios.post('/partner/service/setDescription', {
                            price: this.price,
                            description: this.description
                        }).then( result => {
                            console.log(result);
                            alert('¡Datos Modificado!')
                        }).catch( error => {
                            console.log(error);
                        })
                    }
                }
            }
        })
     </script>
</body>
</html>