<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Buzca - Signup Partner</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
</head>
<body>
    <div>
        <div class="container">
            <form class="box" action="/partner/signup" method="post">
                {{ csrfField() }}
                <h1>Regístrate Partner</h1><input class="input" type="name" placeholder="Nombres" name="name" required="required" /><input class="input" type="name" placeholder="Apellidos" name="lastname" required="required" /><input class="input" type="email"
                    placeholder="Email" name="email" required="required" /><span>Seleccione su distrito</span><select class="input" name="dist" required="required"><option value="">- Seleccione -</option><option value="San Isidro">San Isidro</option><option value="Miraflores">Miraflores</option><option value="Surco">Surco</option></select><input
                    class="input" type="password" placeholder="Contraseña" name="password" required="required" /><a class="button is-info is-inverted" href="/partner/login">¿Ya tienes una cuenta?</a><input class="box button is-link" type="submit" value="Registrarse"
                /><a class="box button is-link is-inverted" href="/">Volver</a></form>
        </div>
    </div>
</body>
</html>